/* RESERT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impostazione generale del body*/ 
body {
    font-family: Edu Tas Beginner’, sans-serif;
    font-family: ‘Sometype Mono’, monospace;
}

h1 {
    font-family: Edu Tas Beginner’, sans-serif;
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
}