/* RESERT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impostazione generale del body*/ 
body {
    font-family: "Edu Tas Beginner", sans-serif;
    font-family: "Sometype Mono", monospace;
}

/* titolo principale */
h1 {
    font-family: "Edu Tas Beginner", sans-serif;
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
}

/* Contenitore */

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.photo-card {
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url("./cork.png");
    background-position: center;
}

.pin {
    position: absolute;
    top: 50px;
    width: 50px;
    left: 50%;
    transform: translate(50%); /*translate rieallinea perfettaente al centro ed  il % serve a mettere la punina al centro della card*/

}



