/* RESERT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impostazione generale del body*/ 
body {
    font-family: "Edu Tas Beginner", sans-serif;
    font-family: "Sometype Mono", monospace;
}

/* titolo principale */
h1 {
    font-family: "Edu Tas Beginner", sans-serif;
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;
}

/* Contenitore */

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.photo-card {
    position: relative;;
    width: 100px;
    height: 100px;
    background-image: url("./cork.png");
    background-position: center;
}



