/* RESERT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impostazione generale del body*/ 
body {
    
    font-family: "Sometype Mono", monospace;
}

/* titolo principale */
h1 {
    font-family: "Edu Tas Beginner", sans-serif;
    margin-top: 30px;
    font-size: 3rem;
    text-align: center;
}

/* Contenitore: ho aggiunto gap e padding al CSS per creare gli spazi tra le card e lo spazio all'interno del bordo */ 

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 40px;

}

/* card della foto */

.photo-card {
    position: relative;
    width: 300px;
    height: 350px;
    padding: 20px;
    background-image: url("./cork.png");
    background-position: center;
    background-size: cover; /* aggiungo proprietà cover per migliorare riempimento img e gestione sfondo*/
}

/* la puntina */
.pin {
    position: absolute;
    top: 50px;
    width: 50px;
    left: 50%;
    transform: translateX(50%); /*translate rieallinea perfettaente al centro ed  il % serve a mettere la punina al centro della card*/

}

/* foto */
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* aggiungo proprietà cover per migliorare riempimento img e gestione sfondo*/
}

/* Didascalia: testo sotto la foto */
.caption {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    
}


